@use "variables" as var;

#add-task {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}

.hide {
  display: none;
}
