@use "variables" as var;
@use "mixins" as mix;

.complete-task-btn {
  background-color: var.$color-accent-blue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  height: 2em;
  width: 6em;
}

.complete-task-btn:hover {
  cursor: pointer;
  background-color: var.$color-hover-blue;
}

.undo-task-btn {
  text-decoration: none;
  background-color: rgb(196, 107, 107);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  height: 2em;
  width: 6em;
}

.undo-task-btn:hover {
  cursor: pointer;
  background-color: var.$color-hover-red;
}

.remove-btn {
  text-decoration: none;
  background-color: var.$color-accent-red;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  height: 2em;
  width: 6em;
  position: absolute;
  right: 2em;
}

.remove-btn:hover {
  cursor: pointer;
  background-color: var.$color-hover-accent-red;
}

#create-btn {
  background-color: var.$color-accent-blue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
}

#create-btn:hover {
  background-color: #72e1c7;
  cursor: pointer;
}

#sort-desc-btn,
#sort-asc-btn {
  background-color: var.$color-accent-blue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
}

#sort-btn:hover {
  background-color: #72e1c7;
  cursor: pointer;
}
