@use "variables" as var;

.completed-task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
  background-color: green;
  padding: 1em;
  text-decoration: line-through;
}
