#ongoing-tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0;
  padding: 2em;
  width: 80%;
  gap: 0.5em;

  .ongoing-task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1em;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    padding: 1em;
    position: relative;
  }

  .ongoing-task:hover {
    background-color: rgba(172, 172, 172, 0.3);
  }

  .ongoing-text {
    text-decoration: none;
  }
}
