#ongoing-tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    padding: 2em;
    width: 80%;

    .ongoing-task {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 1em;
    }

    .user-text {
        font-size: 1.3em;
    }

}