// Colors
$color-primary-dark: #29333d;
$color-primary-light: #ece5f0;
$color-secondary-light: #a1baa9;
$color-accent-red: #b80c09;
$color-hover-accent-red: #c55351;
$color-light-red: rgb(196, 107, 107);
$color-hover-red: rgb(203, 140, 140);
$color-accent-blue: #58b09c;
$color-hover-blue: #8cd4c3;
